/**index.css**/

page {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.release{
    position:fixed;
    bottom:0;
    left:0;
    background-color: #ffffff;
    width:500px;
}
.button{
    background-color: #808686;
    width:50px;
    font-size:10px;
    position:relative;
    top:0px;
    left:20px;

}
.text{
    margin-top:2%;
    margin-left:2%;
    width:300px;
}
.card-area{
    background: -webkit-linear-gradient(90deg,#9aa0a0 0%,#ffffff 100%);
}
.space{
    display: inline-block;
    position:relative;
    top: -25px;
    left:10px;
    color: #9aa0a0;
    font-size:10px;
}
.card-show{
    column-count:2;
    position:relative;
}

.card1{
    display:flex;
    position:absolute;
    margin: 5%;
    background: #fff;
    width:320rpx;
    flex-flow: column;
    border-radius: 5%;
    box-shadow: #9aa0a0 0px 0px 5px 3px ;
}

.card2{
    display:inline-flex;
    position:relative;
    left:345rpx;
    margin: 5%;
    background: #fff;
    flex-flow: column;
    width:320rpx;
    border-radius: 5%;
    box-shadow: #9aa0a0 0px 0px 5px 3px ;
}


.card-image{
    width:300rpx;
    height:400rpx;
    margin:3%;
}

.card-text{
    width: 200rpx;
    max-width: 200rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    top:-20px;
    margin-left:35%;
    font-size: 10px;
}

.card-user{
    width:40px;
    height:40px;
    border-radius: 50%;
}

.card-useName{
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    position:relative;
    top:-50px;
    margin-left:35%;
    font-size:12px;
}

.card-userPosition{
    display: inline-block;
    position:relative;
    top: -25px;
    left:10px;
    color: #9aa0a0;
    font-size:8px;
    width: 200rpx;
    max-width: 120rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.swiper-box {
    height:375rpx;
}
.slide-image{
    display: block;
    height: 375rpx;
    width:100%
}

.icon1{
    margin-top:-20px;
    position: relative;
    top:-15px;
    left:60px;
    display: inline-block;
    margin-left:10%;
    width: 15px;
    height:15px;
}
.icon2{
    margin-top:-20px;
    position: relative;
    left:80px;
    top:-10px;
    display: inline-block;
    margin-left:10%;
    width: 15px;
    height:15px;
}
.icon3{
    margin-top:-20px;
    position: relative;
    top:-6px;
    left:100px;
    display: inline-block;
    margin-left:10%;
    width: 15px;
    height:15px;
}

.userinfo, .uploader, .tunnel {
  margin-top: 40rpx;
  height: 140rpx;
  width: 100%;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 300ms ease;
}

.userinfo-avatar {
  width: 100rpx;
  height: 100rpx;
  margin: 20rpx;
  border-radius: 50%;
  background-size: cover;
  background-color: white;
}
.userinfo-avatar:after {
  border: none;
}

.userinfo-nickname {
  font-size: 32rpx;
  color: #007aff;
  background-color: white;
  background-size: cover;
}

.userinfo-nickname::after {
  border: none;
}

.uploader, .tunnel {
  height: auto;
  padding: 0 0 0 40rpx;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

.uploader-text, .tunnel-text {
  width: 100%;
  line-height: 52px;
  font-size: 34rpx;
  color: #007aff;
}

.uploader-container {
  width: 100%;
  height: 400rpx;
  padding: 20rpx 20rpx 20rpx 0;
  display: flex;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.uploader-image {
  width: 100%;
  height: 360rpx;
}

.tunnel {
  padding: 0 0 0 40rpx;
}

.tunnel-text {
  position: relative;
  color: #222;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.tunnel-text:first-child {
  border-top: none;
}

.tunnel-switch {
  position: absolute;
  right: 20rpx;
  top: -2rpx;
}

.disable {
  color: #888;
}

.service {
  position: fixed;
  right: 40rpx;
  bottom: 40rpx;
  width: 140rpx;
  height: 140rpx;
  border-radius: 50%;
  background: linear-gradient(#007aff, #0063ce);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: all 300ms ease;
}

.service-button {
  position: absolute;
  top: 40rpx;
}

.service:active {
  box-shadow: none;
}

.request-text {
  padding: 20rpx 0;
  font-size: 24rpx;
  line-height: 36rpx;
  word-break: break-all;
}

.buttonimage{
    width: 100rpx;
    height: 100rpx;
    position: fixed;
    z-index: 1000;
    bottom: 35rpx;
    right: 25rpx;
    opacity: 0.5;
}
.comment{
    position:absolute;
}
.share{
    width: 40rpx;
    height: 40rpx;
    position: relative;
}

.shareicon{
    position: absolute;
    top: 0;
    left: 0;
    width: 38rpx;
    height: 38rpx;
    z-index: 2;
    opacity: 0;
}

.shareicon::after{
    border: none;
}

.share image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
